body {
  max-width: 540px;
  min-width: 320px;
  margin: 0 auto;
  font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei",
    STXihei, hei;
  color: #000;
  background: #f2f2f2;
  /* 隐藏x轴滚动条 */
  overflow-x: hidden;
  /* 防止某些模块点击后高亮 */
  -webkit-tap-highlight-color: transparent;
  /* 预设高度，便于观察 */
  /* height: 2000px; */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  /* 去掉文字的下划线 */
  text-decoration: none;
  color: #222;
}

* {
  /* 全部盒子均为C3盒子 */
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
}

div {
  /* 采用C3盒子模型 */
  box-sizing: border-box;
}

/* 搜索模块 */
.search-index {
  display: flex;
  /* 固定定位跟父级没有关系，它以屏幕为准 */
  /* 在最顶上，滑动且不动，固定定位 */
  position: fixed;
  /* 居中，先走屏幕的50%，再往回走自身的50% 如果不写，默认在中间 */
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  /* 兼容老版本浏览器 */
  -webkit-transform: translateX(-50%);
  /* 固定的盒子应该有宽度 */
  width: 100%;
  height: 44px;
  min-width: 320px;
  max-width: 540px;
  /* 因为有固定定位 所以margin textalign 没用 */
  /* background-color: pink; */
  background-color: #f6f6f6;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.search {
  /* 子绝父相 */
  position: relative;
  height: 26px;
  border: 1px solid #ccc;
  flex: 1;
  font-size: 12px;
  color: #666;
  /* 垂直居中 */
  /* vertical-align: middle; */
  /* 使用c3盒子模型，垂直居中时，要把边框的2px算入在内 26 - 2 = 24 */
  line-height: 24px;
  padding-left: 25px;
  margin: 8px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.search::before {
  content: "";
  /* 加了绝对定位的盒子，直接有大小，不需要转换为块级元素 */
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  background: url(../images/sprite.png) no-repeat -59px -279px;
  background-size: 104px auto;
  /* 有了定位 maring就失效了 */
  /* margin: 5px; */
}
.user {
  /* 因为a在 div后面 所以a会在右边 */
  width: 44px;
  height: 44px;
  /* background-color: purple; */
  font-size: 12px;
  text-align: center;
  color: #2eaae0;
}
/* 利用伪元素来制作头像 */
.user::before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  background: url(../images/sprite.png) no-repeat -59px -194px;
  /* background-size 50% 是把精灵图缩小到父盒子的一半，不是自己的一半 */
  background-size: 104px auto;
  /* margin 为负值，底下盒子就会往上走 */
  margin: 4px auto -2px;
}

/* 焦点图模块 */
.focus {
  /* 因为上面盒子是定位，所以浮起来，需要加边距才能显示 */
  padding-top: 44px;
}
.focus img {
  width: 100%;
  height: 100%;
}

/* 局部导航栏模块 */
.local-nav {
  /* 给父级添加 display:flex 默认x轴为主轴，所有元素一行显示*/
  display: flex;
  height: 64px;
  background-color: #fff;
  margin: 3px 4px;
  border-radius: 8px;
}
.local-nav li {
  /* 5个小li 各站一份 */
  flex: 1;
}
.local-nav a {
  display: flex;
  /* 设置主轴为y轴 */
  flex-direction: column;
  /* 因为是单行，侧轴居中对齐用align-items 这里a没有设置高度，所以不能用justfy-content:center*/
  align-items: center;
  font-size: 12px;
}
/* 利用属性选择器 */
.local-nav li [class^="local-nav-icon"] {
  width: 32px;
  height: 32px;
  background-color: pink;
  margin-top: 8px;
  background: url(../images/localnav_bg.png) no-repeat 0 0;
  /* 二倍图做法 把精灵图缩放为原来的一半*/
  background-size: 32px auto;
}
.local-nav li .local-nav-icon-icon2 {
  /* background-position 为负值 将图片相对容器盒子上移 */
  background-position: 0 -32px;
}
.local-nav li .local-nav-icon-icon3 {
  background-position: 0 -64px;
}
.local-nav li .local-nav-icon-icon4 {
  background-position: 0 -96px;
}
.local-nav li .local-nav-icon-icon5 {
  background-position: 0 -128px;
}

/* 主导航栏模块 */
nav {
  /* 不给高度，让三个盒子撑开就行 */
  /* 将多出的部分裁剪，由于div没有加圆角 */
  overflow: hidden;
  border-radius: 8px;
  margin: 0 4px 3px;
}
.nav-common {
  /* 给nav-items的父级添加flex */
  display: flex;
  height: 88px;
  background-color: pink;
}
.nav-common:nth-child(2) {
  margin: 3px auto;
}
.nav-items {
  /* 为了让里面的两个小盒子 竖着排列 不冲突的 */
  display: flex;
  flex-direction: column;
  flex: 1;
}
.nav-items a {
  flex: 1;
  text-align: center;
  line-height: 44px;
  color: #ffff;
  font-size: 14px;
  /* 文字阴影 */
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
.nav-items a:first-child {
  border-bottom: 1px solid #fff;
}
.nav-items:nth-child(1) a {
  border: 0;
  /* 三倍图做法，底端对齐，水平居中 */
  background: url(../images/hotel.png) no-repeat bottom center;
  background-size: 121px auto;
}
/* -n+2 就是选择前面两个元素 因为是C3盒子模型，所以盒子不会因为边框而变大挤下来*/
.nav-items:nth-child(-n + 2) {
  border-right: 1px solid #fff;
}

.nav-common:nth-child(1) {
  background: -webkit-linear-gradient(left, #fa5a55, #fa994d);
}
.nav-common:nth-child(2) {
  background: -webkit-linear-gradient(left, #4b90ed, #53bced);
}
.nav-common:nth-child(3) {
  background: -webkit-linear-gradient(left, #34c2a9, #6cd559);
}

/* 侧导航栏 */
.subnav-entry {
  display: flex;
  border-radius: 8px;
  background-color: #fff;
  margin: 0 4px;
  /* 强制换行 */
  flex-wrap: wrap;
  padding: 5px 0;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.2);
}
.subnav-entry li {
  /* 里面的盒子可以写 % 相对于父级来说的 */
  flex: 20%;
}
.subnav-entry a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subnav-entry a [class^="subnav-entry-icon"] {
  width: 28px;
  height: 28px;
  background: url(../images/subnav-bg.png) no-repeat 0 0;
  margin-top: 4px;
  background-size: 28px auto;
  /* background-color: pink; */
}
.subnav-entry a .subnav-entry-icon-icon2 {
  background-position: 0 -28px;
}
.subnav-entry a .subnav-entry-icon-icon3 {
  background-position: 0 -62px;
}
.subnav-entry a .subnav-entry-icon-icon4 {
  background-position: 0 -320px;
}
.subnav-entry a .subnav-entry-icon-icon5 {
  background-position: 0 -96px;
}
.subnav-entry a .subnav-entry-icon-icon6 {
  background-position: 0 -162px;
}
.subnav-entry a .subnav-entry-icon-icon7 {
  background-position: 0 -196px;
}
.subnav-entry a .subnav-entry-icon-icon8 {
  background-position: 0 -128px;
}
.subnav-entry a .subnav-entry-icon-icon9 {
  background-position: 0 -226px;
}
.subnav-entry a .subnav-entry-icon-icon10 {
  background-position: 0 -286px;
}

/* 销售模块 */
.sales-box {
  border-top: 1px solid #bbb;
  background-color: #fff;
  margin: 4px;
}
.sales-hd {
  position: relative;
  height: 44px;
  border-bottom: 1px solid #ccc;
}
.sales-hd h2 {
  /* 隐藏热门活动前的盒子，当作父元素，用伪元素做标题 为了搜索引擎优化*/
  position: relative;
  text-indent: -999px;
  overflow: hidden;
}
.sales-hd h2::after {
  /* after伪元素选择器是行内元素，直接设置宽高无效，看不到，但加绝对定位后，跟浮动一样拥有了行内块特性，不是转换为块级元素，宽高设置有效 */
  position: absolute;
  top: 8px;
  left: 20px;
  content: "";
  width: 79px;
  height: 15px;
  background: url(../images/hot.png) no-repeat 0 -20px;
  background-size: 79px auto;
}
.more {
  position: absolute;
  right: 5px;
  top: 0px;
  background: -webkit-linear-gradient(left, #ff506c, #ff6bc6);
  border-radius: 15px;
  padding: 3px 20px 3px 10px;
  color: #fff;
}
.more::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 9px;
  width: 7px;
  height: 7px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}
.sales-bd .row {
  display: flex;
}
.sales-bd .row a {
  float: 1;
  border-bottom: 1px solid #eee;
}
.row a:nth-child(1) {
  border-right: 1px solid #eee;
}
.row a img {
  width: 100%;
}
